<div class="container">
  <div class="headings mt-5 mb-4">
    <h2>General Contract of Health Insurance</h2>
    <h3 style= "font-family: 'Roboto', sans-serif; font-weight: 700; color: #212529">U. De Los Ans</h3>
    <h4 style= "font-family: 'Roboto', sans-serif; font-weight: 300; color: #212529">Gold Elite 2000 Plan</h4>
  </div>

  <div class="contract">
    <p><b>U. De Los Ans LLC.</b> agrees to pay benefits for services rendered to covered persons who are named in the "Schedule of Benefits",
      subject to all the terms of this policy. We reserve the full and exclusive right to interpret the terms of this policy to
      determine the benefits payable hereunder.</p>
    <p>This policy is issued in consideration of the policyholder’s application, a copy of which is attached and
      made a part of this policy, and the policyholder’s payment of premium as provided under this policy.
      Omissions or misstatements in the application may cause your policy to be voided and claims to be
      reduced or denied. Please check your application for errors and write to us if any information is not
      correct or is incomplete. If you purchased your coverage through the marketplace, please contact the
      marketplace for any information that is not correct or complete.</p>
    <p>This policy and the insurance it provides become effective 12:01a.m. (your time) on the effective date
    stated. This policy and the insurance it provides terminate at 12:00 midnight (your time) on the date
      of termination. The provisions stated above and on the following pages are part of this policy.</p>
    <p>You have the right to return this policy within 10 calendar days after the day we mailed this policy to you.
      If you choose to return this policy to us within the 10 day period, we will refund any premium that you
      have paid. If you return this policy within the 10 day period, it will be void and we will have no liability
      under any of the terms or provisions of this policy. There will be no coverage for any claims incurred.</p>
    <p>All benefits payable under this policy must be for medical services or prescription drugs that are
      medically necessary or for preventive services as stated in this policy. Preauthorization by us is required
      for certain medical services and prior authorization by us is required for certain prescription drugs,
      medicines or medications, including specialty drugs. Certain prescription drugs, medicines or medication,
      including specialty drugs, may also require step therapy. Visit our Website at www.humana.com or call
      the telephone number on your ID card to obtain a list of medical services that require preauthorization or
      a list of prescription drugs, medicines or medications, including specialty drugs, that require prior
      authorization and/or step therapy. These lists are subject to change. Coverage provided in the past for
      medical services that did not receive or require preauthorization and coverage in the past for prescription
      drugs, medicines or medications, including specialty drugs, that did not receive or require prior
      authorization and/or step therapy is not a guarantee of future coverage of the same medical service or
      prescription drug, medicine, medication.</p>
    <p>Plan means, for the purpose of coordination of benefits, one which covers hospital or medical expenses
        and provides benefits or services through:</p>
    <ol>
      <li>Group or blanket insurance coverage;</li>
      <li>Hospital service prepayment plan on a group basis, medical service prepayment plan on a group basis,
      group practice or other prepayment coverage on a group basis;</li>
      <li>Any coverage under labor-management plans, employer plans, trustee plans, union welfare plans,
      employee benefit organization plans;</li>
      <li>Any coverage under governmental programs or any coverage mandated by state statute or sponsored
      or provided by an educational institution, if such coverage is not otherwise excluded from the
      calculation of benefits under this policy; or</li>
      <li>Individual insurance.</li>
    </ol>
    <p>We will apply these provisions when the covered person incurs allowable expense during a claim
      determination period for which benefits are payable under any other plan(s). The provisions will apply
      only when the sum of the covered expense under this policy and any other plan(s) would, in the absence
      of this "Coordination of benefits" provision or any similar provisions in the other plan(s) exceed the
      allowable expense.</p>
  </div>

  <div class="d-flex justify-content-end">
    <div class="form-check mt-4">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault" style="font-family: 'Roboto', sans-serif; font-weight: 700; color: #212529">Accept Contract</label>

       <div class="plan-card-action">
          <button type="button" class="btn button-green-large" data-toggle="modal" data-target="#exampleModal">
            Get Insurance
          </button>
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel"> <strong>Status</strong></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Yay! 🎉 you successfully signed in your Contract</p>
                </div>
                <div class="modal-footer">
                  <%= link_to 'Go to Profile', plan_contracts_path(@plan), method: :post, id:"create-contract", class: "btn button-green" %>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
