<div class="container footer-container">
  <div class="footer mt-3">
    <div class="footer-copyright" style="font-family: 'Poppins', sans-serif; font-weight: 400; font-size: 14px;">
      Made with <i class="fas fa-heart"></i> at Health Haus.
    </div>
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
  <div class="chatbot">
    <script type="text/javascript">(function () { var ldk = document.createElement('script'); ldk.type = 'text/javascript'; ldk.async = true; ldk.src = 'https://s.cliengo.com/weboptimizer/61b1136b4e465b002ae0b76b/61b113f314b073002a2f5c41.js?platform=onboarding_modular'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ldk, s); })();</script>
  </div>
</div>
