.button-green {
  padding:10px 29px;
	border-radius:6px;
	font-size: 18px;
  font-weight: bold;
  text-align: center;
  font-family: 'Roboto', sans-serif;
	color:#21496F;
  background: #E0EEA8;
  margin-top: 20px;
  transition: color 0.2s;
  &:hover {
    background-color: #C679A6;
    color: white;
    text-decoration: none;
  }
}

.button-green-large {
  padding:12px 30px;
	border-radius:8px;
	font-size:19px;
  font-weight: bold;
  text-align: center;
  font-family: 'Roboto', sans-serif;
	color:#21496F;
  background: #E0EEA8;
  margin-top: 20px;
  transition: color 0.2s;
  &:hover {
    background-color: #C679A6;
    color: white;
    text-decoration: none;
  }
}


.button-transparent {
  padding:10px 24px;
	border-radius:6px;
	font-size: 14px;
  font-weight: bold;
  text-align: center;
  font-family: 'Roboto', sans-serif;
	color:#21496F;
  background: white;
  width: 120px;
  height: 48px;
  text-decoration: none;
  margin-top: 20px;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color:#21496F;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  color:#21496F;
  font-size: 21px;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color:#21496F;
  font-size: 18px;
}
